.more-info-container {
  padding-top: 50.33px;
  width: 968px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.more-info-title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 3px;
  width: 138px;
  color: var(--brown);
  margin-right: 61px;
  
}
.more-info-dividing-line {
  border-top: 1px solid var(--text-dark);
  width: 761px;
}
.more-info-text {
  padding-top: 28px;
  height: auto;
  font-size: 20px;
  line-height: 30px;
}
.product-sample {
  width: 960px;
  margin-top: 30px;
}

@media only screen and (max-width: 1279px){

  .more-info-container {
    padding: 28px 24px 0px;
    width: 100vw;
  }
  .more-info-title {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3.2px;
    width: 115.2px;
    color: var(--brown);
    margin-right: 35px;
  }
  .more-info-dividing-line {
    border-top: 1px solid var(--text-dark);
    width: calc( 100vw - 48px - 115.2px - 35px );
  }
  .more-info-text {
    padding-top: 12px;
    font-size: 14px;
    line-height: 25px;
    height: auto;
  }
  .product-sample {
    margin-top: 20px;
    width: calc( 100vw - 48px );
  }
}